<!-- Version 1.0.0 -->
{% assign dark_text = settings.color_body %}

<style>
  /* Default Header Styles */
  .header {
    {% if section.settings.position == "overlay" %}
      background-color: {{ section.settings.background_color | default: "transparent" }};
    {% else %}
      background-color: {{ section.settings.background_color | default: "#FFFFFF" }};
    {% endif %}
    font-size: {{ section.settings.font_size_desktop }};
  }
  .header a,
  .header a.link-list__link,
  .header a.link-list__link:hover,
  .header a.social-icons__icon,
  .header .user__login a,
  .header .dropdown__item a,
  .header .dropdown__trigger:hover {
    color: {{ section.settings.text_color | default: dark_text }};
  }
  .header .dropdown__trigger {
    color: {{ section.settings.text_color | default: dark_text }} !important;
  }
  /* Mobile Header Styles */
  @media (max-width: 767px) {
    .header {
      {% if section.settings.mobile_header_background_color != blank %}
        background-color: {{ section.settings.mobile_header_background_color }};
      {% endif %}
      font-size: {{ section.settings.font_size_mobile }};
    }
    {% if section.settings.mobile_header_text_color != blank %}
      .header a,
      .header a.link-list__link,
      .header a.social-icons__icon,
      .header .dropdown__item a,
      .header .user__login a,
      .header a.link-list__link:hover,
      .header .dropdown__trigger:hover {
        color: {{ section.settings.mobile_header_text_color }};
      }
      .header .dropdown__trigger {
        color: {{ section.settings.mobile_header_text_color }} !important;
      }
    {% endif %}
    .header .hamburger__slices .hamburger__slice {
      {% if section.settings.hamburger_color != blank %}
        background-color: {{ section.settings.hamburger_color  }};
      {% else %}
        background-color: {{ section.settings.mobile_header_text_color | default: section.settings.text_color }};
      {% endif %}
    }
    {% if section.settings.mobile_menu_text_alignment != blank %}
      .header a.link-list__link, .dropdown__item a, .header__content--mobile {
        text-align: {{ section.settings.mobile_menu_text_alignment }};
      }
    {% endif %}
    .header--overlay .header__content--mobile  {
      padding-bottom: 20px;
    }
  }
  /* Sticky Styles */
  {% if section.settings.sticky == true %}
    .header.header--fixed {
      background-color: {{ section.settings.background_color }};
      {% if section.settings.mobile_header_background_color %}
        background-color: {{ section.settings.mobile_header_background_color }};
      {% endif %}
      {% if section.settings.sticky_background_color %}
        background-color: {{ section.settings.sticky_background_color }};
      {% endif %}
    }
    {% if section.settings.sticky_text_color != blank %}
      .header.header--fixed a,
      .header.header--fixed a.link-list__link,
      .header.header--fixed a.link-list__link:hover,
      .header.header--fixed a.social-icons__icon,
      .header.header--fixed .dropdown__trigger:hover,
      .header.header--fixed .dropdown__item a,
      .header.header--fixed .user__login a {
        color: {{ section.settings.sticky_text_color }};
      }
    {% endif %}
    {% if section.settings.sticky_text_color != blank %}
      .header.header--fixed .dropdown__trigger {
        color: {{ section.settings.sticky_text_color }} !important;
      }
    {% endif %}
    .header.header--fixed .hamburger__slice {
      {% if section.settings.sticky_hamburger_color != blank %}
        background-color: {{ section.settings.sticky_hamburger_color }};
      {% else %}
        background-color: {{ section.settings.sticky_text_color }};
      {% endif %}
    }
  {% endif %}
</style>

<div class="hidden">
  {% for block in section.blocks %}
    {% if block.type == "hello_bar" %}
      {% increment hello_bar_count %}
    {% endif %}
  {% endfor %}
  {% assign hamburger_blocks = "menu, cta, dropdown, social_icons, user" | split: ", " %}
  {% assign block_types = section.blocks | map: 'type' %}
  {% for block in block_types %}
    {% if hamburger_blocks contains block %}
      {% assign show_hamburger = true %}
    {% endif %}
  {% endfor %}
</div>

<header class="header header--{{ section.settings.position }} {% if section.settings.sticky %}sticky{% endif %}{% if section.settings.hide_on_desktop %}hidden--desktop{% endif %} {% if section.settings.hide_on_mobile %}hidden--mobile{% endif %} {% if section.settings.background_color != blank %} background-{{ section.settings.background_color | color_scheme_class }}{% endif %} {% if section.settings.close_on_scroll %}header--close-on-scroll{% endif %}" kjb-settings-id="{{ 'background_color' | settings_id: section: section }}">
  <div class="hello-bars">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when "hello_bar" %}
          {% include "header_block" type: "header_block_hello_bar" class: "header__block--hello-bar header__block--show" %}
      {% endcase %}
    {% endfor %}
  </div>
  {% if hello_bar_count != section.blocks.size and section.blocks.size != 0 %}
    <div class="header__wrap">
      <div class="header__content header__content--desktop background-{{ section.settings.background_color | color_scheme_class }}">
        <div class="container header__container media justify-content-{{ section.settings.horizontal }}">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when "logo" %}
                {% include "header_block" type: "shared_block_logo" class: "header__block--logo header__block--show header__switch-content" %}
              {% when "menu" %}
                {% include "header_block" type: "shared_block_menu" class: "header__switch-content header__block--menu" %}
              {% when "cta" %}
                {% include "header_block" type: "block_cta" class: "header__switch-content header__block--cta" %}
              {% when "user" %}
                {% include "header_block" type: "header_block_user" class: "header__switch-content header__block--user" %}
              {% when "dropdown" %}
                {% include "header_block" type: "header_block_dropdown" class: "header__switch-content header__block--dropdown" %}
              {% when "social_icons" %}
                {% include "header_block" type: "block_social_icons" class: "header__switch-content header__block--social-icons" %}
            {% endcase %}
          {% endfor %}
          {% if show_hamburger %}
            <div class="hamburger hidden--desktop" kjb-settings-id="{{ 'hamburger_color' | settings_id: section: section }}">
              <div class="hamburger__slices">
                <div class="hamburger__slice hamburger--slice-1"></div>
                <div class="hamburger__slice hamburger--slice-2"></div>
                <div class="hamburger__slice hamburger--slice-3"></div>
                <div class="hamburger__slice hamburger--slice-4"></div>
              </div>
            </div>
          {% endif %}
          {% if section.settings.cart == true %}
            {% include "header_block_cart" %}
          {% endif %}
        </div>
      </div>
      <div class="header__content header__content--mobile">
        <div class="header__switch-content header__spacer"></div>
      </div>
    </div>
  {% endif %}
</header>

{% schema %}
{
  "name": "Header",
  "elements": [
    {
      "type": "info",
      "id": "cart_header",
      "info": "Shopping cart"
    },
    {
      "type": "checkbox",
      "id": "cart",
      "label": "Enable cart",
      "default": "false"
    },
    {
      "type": "info",
      "id": "cart_info",
      "info": "To customize and edit payment options for cart, go to [cart settings](#app-link-cart-settings)."
    },
    {
      "type": "select",
      "id": "font_size_desktop",
      "label": "Font size desktop",
      "default": "18px",
      "preset": "font_sizes",
      "options": []
    },
    {
      "type": "select",
      "id": "font_size_mobile",
      "label": "Font size mobile",
      "default": "16px",
      "preset": "font_sizes",
      "options": []
    },
    {
      "type": "color",
      "label": "Header text",
      "id": "text_color",
      "default": "",
      "allow_blank": true
    },
    {
      "type": "color",
      "label": "Header background",
      "id": "background_color",
      "default": "#FFFFFF",
      "allow_blank": true
    },
    {
      "type": "pill_tabs",
      "id": "position",
      "label": "Position",
      "default": "static",
      "info": "Position the header as normal or an overlay of the first section.",
      "options": [
        { "label": "Normal", "value": "static" },
        { "label": "Overlay", "value": "overlay" }
      ]
    },
    {
      "type": "checkbox",
      "id": "sticky",
      "label": "Enable sticky header",
      "default": "false",
      "info": "Modify the header behavior on scroll. Save for changes to effect."
    },
    {
      "type": "color",
      "id": "sticky_text_color",
      "label": "Sticky text",
      "info": "Header text color for when the page is scrolled.",
      "allow_blank": true,
      "hide_if": {
        "sticky": ["", false], "operator": "or"
      }
    },
    {
      "type": "color",
      "id": "sticky_background_color",
      "label": "Sticky background",
      "info": "Header background color for when the page is scrolled.",
      "allow_blank": true,
      "hide_if": {
        "sticky": ["", false], "operator": "or"
      }
    }
  ],
  "groups": [
    {
      "name": "Desktop layout",
      "elements": [
        {
          "type": "checkbox",
          "id": "hide_on_desktop",
          "label": "Hide header",
          "default": "false"
        },
        {
          "type": "select",
          "id": "horizontal",
          "label": "Horizontal alignment",
          "default": "between",
          "options": [
            { "value": "left", "label": "Left" },
            { "value": "center", "label": "Center" },
            { "value": "right", "label": "Right" },
            { "value": "between", "label": "Space between" },
            { "value": "around", "label": "Space around" }
          ],
          "hide_if": {
            "hide_on_desktop": true
          }
        }
      ]
    },
    {
      "name": "Mobile layout",
      "elements": [
        {
          "type": "checkbox",
          "id": "hide_on_mobile",
          "label": "Hide header",
          "default": "false"
        },
        {
          "type": "color",
          "label": "Header text",
          "id": "mobile_header_text_color",
          "allow_blank": true,
          "hide_if": {
            "hide_on_mobile": true
          }
        },
        {
          "type": "color",
          "label": "Header background",
          "id": "mobile_header_background_color",
          "allow_blank": true,
          "hide_if": {
            "hide_on_mobile": true
          }
        },
        {
          "type": "color",
          "id": "hamburger_color",
          "label": "Hamburger icon",
          "allow_blank": "true",
          "hide_if": {
            "hide_on_mobile": true
          }
        },
        {
          "type": "color",
          "id": "sticky_hamburger_color",
          "label": "Sticky hamburger icon",
          "allow_blank": "true",
          "hide_if": {
            "hide_on_mobile": true
          }
        },
        {
          "type": "checkbox",
          "id": "close_on_scroll",
          "label": "Close menu on scroll",
          "default": "true",
          "info": "If the menu is open, it will close when a user scrolls up or down.",
          "hide_if": {
            "hide_on_mobile": true
          }
        },
        {
          "type": "align",
          "id": "mobile_menu_text_alignment",
          "label": "Mobile menu text alignment",
          "default": "left",
          "direction": "horizontal",
          "hide_if": {
            "hide_on_mobile": true
          }
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "elements": [
        {
          "type": "header",
          "content": "Logo"
        },
        {
          "type": "pill_tabs",
          "id": "logo_type",
          "label": "Logo type",
          "default": "svg",
          "options": [
            { "label": "Image", "value": "image" },
            { "label": "Text", "value": "text" },
            { "label": "SVG", "value": "svg" }
          ]
        },
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo image",
          "fit": "max",
          "width": 1000,
          "height": 1000,
          "info": "Suggested dimensions: 360x80",
          "default": "",
          "default_global_settings_attribute": "brand.logo",
          "hide_if": {
            "logo_type": ["text", "svg"]
          }
        },
        {
          "type": "text",
          "id": "image_alt",
          "label": "Alt text",
          "default": "Header logo",
          "hide_if": {
            "logo_type": ["text", "svg"]
          }
        },
        {
          "type": "text",
          "id": "logo_width",
          "label": "Logo image width",
          "default": "50",
          "hide_if": {
            "logo_type": ["text", "svg"]
          }
        },
        {
          "type": "text",
          "id": "logo_text",
          "label": "Logo text",
          "default": "Encore",
          "hide_if": {
            "logo_type": ["image", "svg"]
          }
        },
        {
          "type": "color",
          "label": "Logo text",
          "id": "logo_text_color",
          "default": "",
          "allow_blank": "true",
          "hide_if": {
            "logo_type": ["image", "svg"]
          }
        },
        {
          "type": "textarea",
          "id": "logo_svg",
          "label": "SVG code",
          "default": "",
          "info": "Paste your SVG code here.",
          "hide_if": {
            "logo_type": ["image", "text"]
          }
        },
        {
          "type": "text",
          "id": "logo_svg_width",
          "label": "SVG width (px)",
          "default": "120",
          "info": "Controls the rendered width of the SVG logo.",
          "hide_if": {
            "logo_type": ["image", "text"]
          }
        },
        {
          "type": "align",
          "id": "alignment",
          "label": "Text alignment",
          "default": "left",
          "direction": "horizontal"
        },
        {
          "type": "checkbox",
          "id": "stretch",
          "label": "Stretch block",
          "default": "false",
          "info": "Stretch block to fill the remaining space of this section"
        }
      ]
    },
    {
      "type": "menu",
      "name": "Menu",
      "elements": [
        {
          "type": "header",
          "content": "Menu"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Select menu",
          "default": "main-menu"
        },
        {
          "type": "align",
          "id": "alignment",
          "label": "Text alignment",
          "default": "right",
          "direction": "horizontal"
        },
        {
          "type": "checkbox",
          "id": "new_tab",
          "label": "Open new tab",
          "default": ""
        },
        {
          "type": "checkbox",
          "id": "stretch",
          "label": "Stretch block",
          "default": "true",
          "info": "Stretch block to fill the remaining space of this section"
        }
      ]
    },
    {
      "type": "dropdown",
      "name": "Dropdown menu",
      "elements": [
        {
          "type": "header",
          "content": "Dropdown menu"
        },
        {
          "type": "text",
          "id": "trigger",
          "label": "Menu text",
          "default": "Dropdown"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Select menu",
          "default": "main-menu"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Menu text",
          "default": "#595959"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Menu background",
          "default": "#FFFFFF",
          "info": "Choose color of dropdown menu for desktop."
        },
        {
          "type": "align",
          "id": "dropdown_menu_alignment",
          "label": "Menu alignment",
          "default": "left",
          "direction": "horizontal"
        },
        {
          "type": "align",
          "id": "alignment",
          "label": "Text alignment",
          "default": "left",
          "direction": "horizontal"
        },
        {
          "type": "checkbox",
          "id": "show_icon",
          "label": "Show icon",
          "default": "true"
        },
        {
          "type": "checkbox",
          "id": "new_tab",
          "label": "Open new tab",
          "default": ""
        },
        {
          "type": "checkbox",
          "id": "stretch",
          "label": "Stretch block",
          "default": "false",
          "info": "Stretch block to fill the remaining space of this section"
        }
      ]
    },
    {
      "type": "user",
      "name": "User dropdown",
      "elements": [
        {
          "type": "header",
          "content": "User dropdown"
        },
        {
          "type": "text",
          "id": "language_login",
          "label": "Log in text",
          "default": "Log In"
        },
        {
          "type": "text",
          "id": "language_logout",
          "label": "Logout text",
          "default": "Logout"
        },
        {
          "type": "text",
          "id": "language_settings",
          "label": "Settings text",
          "default": "Settings"
        },
        {
          "type": "text",
          "id": "language_library",
          "label": "Library text",
          "default": "My Library"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text",
          "default": "#595959"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background",
          "default": "#FFFFFF"
        },
        {
          "type": "align",
          "id": "alignment",
          "label": "Text alignment",
          "default": "left",
          "direction": "horizontal"
        },
        {
          "type": "align",
          "id": "user_dropdown_menu_alignment",
          "label": "Menu alignment",
          "default": "left",
          "direction": "horizontal"
        },
        {
          "type": "checkbox",
          "id": "stretch",
          "label": "Stretch block",
          "default": "false",
          "info": "Stretch block to fill the remaining space of this section"
        }
      ]
    },
    {
      "type": "cta",
      "name": "Call to action",
      "elements": [
        {
          "type": "header",
          "content": "Call to action"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "Button text",
          "default": "Call to action"
        },
        {
          "type": "action",
          "id": "btn_action",
          "label": "Button action",
          "anchor": true,
          "two_step": true,
          "default": ""
        },
        {
          "type": "checkbox",
          "id": "new_tab",
          "label": "Open new tab",
          "default": ""
        },
        {
          "type": "pill_tabs",
          "id": "btn_width",
          "label": "Button width",
          "default": "",
          "allow_blank": true,
          "options": [
            { "value": "full", "label": "Full" },
            { "value": "auto", "label": "Auto" }
          ],
          "default_global_settings_attribute": "btn_width"
        },
        {
          "type": "pill_tabs",
          "id": "btn_style",
          "label": "Button style",
          "default": "",
          "allow_blank": true,
          "options": [
            { "label": "Solid", "value": "solid" },
            { "label": "Outline", "value": "outline" }
          ],
          "default_global_settings_attribute": "btn_style"
        },
        {
          "type": "pill_tabs",
          "id": "btn_size",
          "label": "Button size",
          "default": "",
          "allow_blank": true,
          "options": [
            { "label": "Sm", "value": "small" },
            { "label": "Md", "value": "medium" },
            { "label": "Lg", "value": "large" }
          ],
          "default_global_settings_attribute": "btn_size"
        },
        {
          "type": "range",
          "id": "btn_border_radius",
          "label": "Border radius",
          "default": "",
          "min": "0",
          "max": "50",
          "default_global_settings_attribute": "btn_border_radius"
        },
        {
          "type": "color",
          "id": "btn_text_color",
          "label": "Text color",
          "default": "",
          "allow_blank": true,
          "info": "For solid buttons only",
          "default_global_settings_attribute": "btn_text_color"
        },
        {
          "type": "color",
          "id": "btn_background_color",
          "label": "Button color",
          "default": "",
          "allow_blank": true,
          "default_global_settings_attribute": "btn_background_color"
        },
        {
          "type": "checkbox",
          "id": "stretch",
          "label": "Stretch block",
          "default": "false",
          "info": "Stretch block to fill the remaining space of this section"
        },
        {
          "type": "align",
          "id": "alignment",
          "label": "Text alignment",
          "default": "left",
          "direction": "horizontal"
        }
      ]
    },
    {
      "type": "hello_bar",
      "name": "Hello bar",
      "elements": [
        {
          "type": "header",
          "content": "Hello bar"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "DO NOT MISS OUT! AMAZING THINGS ARE COMING!"
        },
        {
          "type": "color",
          "label": "Text color",
          "id": "text_color",
          "allow_blank": true
        },
        {
          "type": "action",
          "id": "action",
          "label": "Action",
          "anchor": true,
          "two_step": true,
          "default": ""
        },
        {
          "type": "align",
          "id": "horizontal",
          "label": "Text alignment",
          "default": "center",
          "direction": "horizontal"
        },
        {
          "type": "checkbox",
          "id": "new_tab",
          "label": "Open new tab",
          "default": ""
        }
      ],
      "groups": [
        {
          "name": "Background",
          "elements": [
            {
              "type": "color",
              "label": "Color",
              "id": "background_color",
              "allow_blank": true
            }
          ]
        }
      ]
    },
    {
      "type": "social_icons",
      "name": "Social icons",
      "elements": [
        {
          "type": "header",
          "content": "Social icons"
        },
        {
          "type": "checkbox",
          "id": "new_tab",
          "label": "Open new tab",
          "default": "false"
        },
        {
          "type": "color",
          "label": "Social icon",
          "id": "social_icons_text_color",
          "allow_blank": true
        },
        {
          "type": "color",
          "label": "Background",
          "id": "social_icons_background_color",
          "allow_blank": true
        },
        {
          "type": "pill_tabs",
          "id": "social_icon_background_style",
          "label": "Background style",
          "default": "",
          "options": [
            { "label": "Round", "value": "round" },
            { "label": "Square", "value": "square" },
            { "label": "None", "value": "" }
          ]
        },
        {
          "type": "pill_tabs",
          "id": "social_icon_size",
          "label": "Size",
          "default": "",
          "options": [
            { "label": "Sm", "value": "" },
            { "label": "Md", "value": "med" },
            { "label": "Lg", "value": "lg" }
          ]
        },
        {
          "type": "select",
          "id": "horizontal",
          "label": "Horizontal alignment (desktop)",
          "default": "space-around",
          "options": [
            { "value": "flex-start", "label": "Left" },
            { "value": "center", "label": "Center" },
            { "value": "flex-end", "label": "Right" },
            { "value": "space-between", "label": "Space between" },
            { "value": "space-around", "label": "Space around" }
          ]
        },
        {
          "type": "checkbox",
          "id": "stretch",
          "label": "Stretch block",
          "default": "false",
          "info": "Stretch block to fill the remaining space of this section"
        },
        {
          "type": "text",
          "id": "social_icon_link_facebook",
          "label": "Facebook",
          "default": "",
          "default_global_settings_attribute": "brand.social.facebook"
        },
        {
          "type": "text",
          "id": "social_icon_link_twitter",
          "label": "X",
          "default": "",
          "default_global_settings_attribute": "brand.social.x"
        },
        {
          "type": "text",
          "id": "social_icon_link_instagram",
          "label": "Instagram",
          "default": "",
          "default_global_settings_attribute": "brand.social.instagram"
        },
        {
          "type": "text",
          "id": "social_icon_link_youtube",
          "label": "YouTube",
          "default": "",
          "default_global_settings_attribute": "brand.social.youtube"
        },
        {
          "type": "text",
          "id": "social_icon_link_pinterest",
          "label": "Pinterest",
          "default": ""
        },
        {
          "type": "text",
          "id": "social_icon_link_vimeo",
          "label": "Vimeo",
          "default": ""
        },
        {
          "type": "text",
          "id": "social_icon_link_github",
          "label": "Github",
          "default": ""
        },
        {
          "type": "text",
          "id": "social_icon_link_itunes",
          "label": "iTunes",
          "default": ""
        },
        {
          "type": "text",
          "id": "social_icon_link_linkedin",
          "label": "LinkedIn",
          "default": "",
          "default_global_settings_attribute": "brand.social.linkedin"
        },
        {
          "type": "text",
          "id": "social_icon_link_soundcloud",
          "label": "Soundcloud",
          "default": ""
        },
        {
          "type": "text",
          "id": "social_icon_link_yelp",
          "label": "Yelp",
          "default": ""
        },
        {
          "type": "text",
          "id": "social_icon_link_tumblr",
          "label": "Tumblr",
          "default": ""
        },
        {
          "type": "text",
          "id": "social_icon_link_slack",
          "label": "Slack",
          "default": ""
        },
        {
          "type": "text",
          "id": "social_icon_link_flickr",
          "label": "Flickr",
          "default": ""
        },
        {
          "type": "text",
          "id": "social_icon_link_dribbble",
          "label": "Dribbble",
          "default": ""
        },
        {
          "type": "text",
          "id": "social_icon_link_tiktok",
          "label": "TikTok",
          "default": "",
          "default_global_settings_attribute": "brand.social.tiktok"
        },
        {
          "type": "text",
          "id": "social_icon_link_medium",
          "label": "Medium",
          "default": ""
        },
        {
          "type": "text",
          "id": "social_icon_link_spotify",
          "label": "Spotify",
          "default": ""
        },
        {
          "type": "text",
          "id": "social_icon_link_podcasts",
          "label": "Podcasts",
          "default": ""
        }
      ],
      "groups": [
        {
          "name": "Mobile settings",
          "elements": [
            {
              "type": "select",
              "id": "mobile_horizontal",
              "label": "Horizontal alignment",
              "default": "left",
              "options": [
                { "value": "flex-start", "label": "Left" },
                { "value": "center", "label": "Center" },
                { "value": "flex-end", "label": "Right" },
                { "value": "space-between", "label": "Space between" },
                { "value": "space-around", "label": "Space around" }
              ]
            }
          ]
        }
      ]
    }
  ]
}

{% endschema %}
